{% extends 'base.html' %}
{% block content %}
<h2>Processing Run {{ run['id'] }}</h2>
<p><strong>Source:</strong> {{ run['source_file'] }}</p>
<p><strong>Freq Offset:</strong> {{ run['freq_offset_hz'] }} Hz</p>
<p><strong>Doppler:</strong> {{ run['doppler_en'] }}</p>
<p><strong>Access Threshold:</strong> {{ run['access_threshold'] }}</p>

{% if run['is_ssdv'] %}
  <h3>Run SSDV</h3>
  <form method="post" action="{{ url_for('ssdv.run') }}">
    <input type="hidden" name="processing_run_id" value="{{ run['id'] }}">
    <label>Payload File:</label><br>
    <input type="text" name="payload_file" value="received_packets/il2p_payloads_{{ run['start_time_utc'] }}.bin" required><br>
    <label>Output Image:</label><br>
    <input type="text" name="output_image" value="static/output{{ run['id'] }}.jpg" required><br><br>
    <button type="submit">Run SSDV</button>
  </form>
{% endif %}


<h3>Packets</h3>
<table>
  <tr>
    <th>ID</th><th>Packet Length</th><th>Payload Size</th><th>CRC OK?</th><th>Errors</th>
  </tr>
  {% for p in packets %}
    <tr>
      <td>{{ p['id'] }}</td>
      <td>{{ p['length_bytes'] }}</td>
      <td>{{ p['payload_byte_count'] }}</td>
      <td>{{ p['crc_ok'] }}</td>
      <td>{{ p['packet_error_type'] }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}

